@using FindJobs.Domain.Dtos;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;



<link rel="stylesheet" href="~/css/internal/cv.css">
<link rel="stylesheet" href="~/css/internal/slider.css">
<div class="container">
    <div class="cv-title">
        <h3 class="header">@Res.Cv.ChoseAppearance</h3>
    </div>
    <div class="cv-center">
        <h3>@Res.Cv.CvText</h3>
    </div>

    <div class="center">
        <select  class="cv-dropdown" placeholder="@Res.Cv.Languages">
            @foreach (var item in await FindJobs.Domain.Global.Global.GetCountryList(Configuration["GlobalSettings:ApiUrl"]))
            {
                <option value="@item.Code">@item.Name</option>
            }
        </select>
    </div>


    @***************************** need to ask negin for images ******************************************@
    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img class=" img" class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img class=" img" src="~/profile-image.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img  class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
            </div>
            <div class="column">
                <img  class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
            </div>
            <div class="column">
                <img  class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
            </div>
            <div class="column">
                <img  class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img  class="demo cursor" src="~/profile-image.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
            </div>
        </div>
    </div>




</div>

@section Script{
    <script src="~/js/internal/slider.js"></script>
    

    }
