@using FindJobs.Domain.Dtos
@model ApplicantDto


<div class="ox-elements">
    <div class="ox-sidenav">
    </div>
    <div class="ox-right-side">
        <input type="image" src="@Model.ApplicantImage" alt="Applicant-Image" class="ox-image" />
        <div id="personal">
            <h3>@Res.Cv.Personal</h3>
            <div class="ox-hr-line"></div>
            <table class="ox-table">
                <tbody>

                    <tr>
                        <td class="ox-header-text">@Res.Cv.FullName</td>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <td class="ox-header-text">@Res.Cv.Address</td>
                        <td>@Model.CountryName,@Model.CityName </td>
                    </tr>
                    <tr>
                        <td class="ox-header-text">@Res.Cv.PhoneNumber</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td class="ox-header-text">@Res.Cv.Email</td>
                        <td>@Model.Email</td>
                    </tr>

                </tbody>
            </table>
        </div>
        @if (Model.ApplicantEducations.Count > 0)
        {
            <div id="Education">
                <h3>@Res.Cv.Education</h3>
                <div class="ox-hr-line"></div>
                <table class="ox-table">
                    <tbody>
                        @foreach (var item in Model.ApplicantEducations)
                        {
                            <tr>
                                <td class="ox-header-text"><p>@item.StartEducation - @item.EndEducation</p></td>
                                <td>
                                    <p>@item.InstituteName</p>
                                    <p>@item.CourseName</p>
                                    <p>@item.EducationLevel</p>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        }
        @if (Model.ApplicantWorkExperiences.Count > 0)
        {
            <div id="workExp">
                <h3>@Res.Cv.WorkExperincees</h3>
                <div class="ox-hr-line"></div>
                <table class="ox-table">
                    <tbody>
                        @foreach (var item in Model.ApplicantWorkExperiences)
                        {
                            <tr>
                                <td class="ox-header-text"><p>@item.StartWork - @item.EndWork</p></td>
                                <td>
                                    <p>@item.JobTitle</p>
                                    <p>@item.JobPosition</p>
                                    @if (item.IsCurrentlyWorking)
                                    {
                                        <p>@Res.Cv.StillWokring</p>
                                    }
                                    else
                                    {
                                        <p>@Res.Cv.notemployed</p>
                                    }
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        }
        @if (Model.ApplicantKnowledges.Count > 0)
        {
            <div id="knowledge">
                <h3>@Res.Cv.Knowledges</h3>
                <div class="ox-hr-line"></div>
                <table class="ox-table">
                    <tbody>
                        @foreach (var item in Model.ApplicantKnowledges)
                        {
                            <tr>
                                <td class="ox-header-text"><p>@item.KnowledgeName</p></td>
                                <td>
                                    <p>@item.KnowledgeLevel</p>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.ApplicantLanguages.Count > 0)
        {
            <div id="language">
                <h3>@Res.Cv.Languages</h3>
                <div class="ox-hr-line"></div>
                <table class="ox-table">
                    <tbody>
                        @foreach (var item in Model.ApplicantLanguages)
                        {
                            <tr>
                                <td class="ox-header-text"><p>@item.LanguageName</p></td>
                                <td>
                                    <p>@item.LanguageLevel</p>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>
